In [25]:
# Libraries
import os
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

df  = pd.read_csv(r'../data/raw/mlb odds 2020.csv', usecols=['Date','Rot','VH','Team','Final','RunLine','OpenOU','CloseOU'])

df.head(6)

   Date  Rot VH Team  Final  RunLine OpenOU  CloseOU
0   723  901  V  NYY      4     -1.5      7      7.5
1   723  902  H  WAS      1      1.5      7      7.5
2   723  903  V  SFO      1      1.5      8      9.0
3   723  904  H  LAD      8     -1.5      8      9.0
4   724  951  V  ATL      0      1.5      8      7.5
5   724  952  H  NYM      1     -1.5      8      7.5

In [26]:
_df = pd.DataFrame([y.values.ravel() for x , y in df.groupby(np.arange(len(df))//2)])

In [28]:
_df.head(6)

    0    1  2    3   4    5    6    7    8    9  10   11  12   13   14   15
0  723  901  V  NYY   4 -1.5    7  7.5  723  902  H  WAS   1  1.5    7  7.5
1  723  903  V  SFO   1  1.5    8  9.0  723  904  H  LAD   8 -1.5    8  9.0
2  724  951  V  ATL   0  1.5    8  7.5  724  952  H  NYM   1 -1.5    8  7.5
3  724  953  V  DET   1  1.5    8  9.0  724  954  H  CIN   7 -1.5    8  9.0
4  724  955  V  TOR   6  1.5  8.5  7.5  724  956  H  TAM   4 -1.5  8.5  7.5
5  724  957  V  MIA   5  1.5    8  9.0  724  958  H  PHI   2 -1.5    8  9.0